<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Security update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        b{
            color:#EF5350;
        }
    </style>
</head>
<body>
<div class="container" style="text-align:center">
    <div class="jumbotron">
        <b><h1>GAME OVER</h1></b>
        <h2>Na szczęście była to tylka symulacja ataku phishingowego.</h2>
        <h3>Oto kilka wskazówek na przyszłość</h3>
    </div>
    <div class="row">
        <div class="col-md-4"><h1>Zasada: #1</h1>
            <h2>Zatrzymaj się, popatrz, pomyśl</h2>
            <p>Nie klikaj podejrzanych linków i plików do pobrania w wiadomościach</p>
        </div>
        <div class="col-md-4"><h1>Zasada: #2</h1>
            <h2>Czy wiadomość wydała Ci się podejrzana?</h2>
            <p>Zawsze zbadaj wiarygodność danej wiadomości.</p>
        </div>
        <div class="col-md-4"><h1>Zasada: #3</h1>
            <h2>W razie wątpliowści lepiej dmuchać na zimne</h2>
            <p>Podejrzene wiadomości przesyłaj na helpdesk@jit.team</p>
        </div>
    </div>
</body>
</html>